{% include relative_prefix.html %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{{ page.title }}</title>

    <link href="{{ relative_prefix }}/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{{ relative_prefix }}/static/img/favicon.png" rel="icon" type="image/png" />
    <script src="{{ relative_prefix }}/static/js/color.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JB4CKCS4GN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-JB4CKCS4GN');
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
